---
name: '⛑️ Support Request'
description: Find out how to get answers and/or submit a support request.
labels: [question]
body:
  - type: markdown
    attributes:
      value: |
        ## 💬 Join Us on Slack!
        If you have general questions or need help implementing this project, you have several options:

        * Ask the question on **[our Slack channel]({{ if and (has .pkg "blueprint") (has .pkg.blueprint "slackUrl") }}{{ .pkg.blueprint.slackUrl }}{{ else }}{{ .global.slackUrl }}{{ end }})** *Fast*
        * Submit a request here *Depends*
        * E-mail our [support desk](mailto:{{ if and (has .pkg "blueprint") (has .pkg.blueprint "helpDeskEmail") }}{{ .pkg.blueprint.helpDeskEmail }}{{ else }}{{ .global.helpDeskEmail }}{{ end }}) *Slow*
        * Apply for [enterprise support]({{ if and (has .pkg "blueprint") (has .pkg.blueprint "enterpriseSupportUrl") }}{{ .pkg.blueprint.enterpriseSupportUrl }}{{ else }}{{ .global.enterpriseSupportUrl }}{{ end }}) **Fastest**

  - type: textarea
    id: support
    attributes:
      label: '⛑️ Support Request'
      description: Add your support request here. Detail exactly what you need help with.
    validations:
      required: true

  - type: input
    id: contributor
    attributes:
      label: '😀 Are you interested in paid support?'
      description: '**Optional** For the fastest, most-effective support we offer paid services. If you are interested,
        answer *Yes* and we will get in contact with you immediately.'
      options:
        # yamllint disable-line rule:truthy
        - 'Yes'
        # yamllint disable-line rule:truthy
        - 'No'
    validations:
      required: false

  - type: input
    id: contributor
    attributes:
      label: '💬 How can we contact you?'
      description: '**Optional** Add a way we can contact you here (especially if you want us to contact you immediately for paid support).'
      placeholder: 'Twitter: @{{ if and (has .pkg "blueprint") (has .pkg.blueprint "twitterUser") }}{{ .pkg.blueprint.twitterUser }}{{ else }}{{ .global.twitterUser }}{{ end }}, E-mail: {{ if and (has .pkg "blueprint") (has .pkg.blueprint "helpDeskEmail") }}{{ .pkg.blueprint.helpDeskEmail }}{{ else }}{{ .global.helpDeskEmail }}{{ end }}, etc.'
    validations:
      required: false

  - type: markdown
    attributes:
      value: |
        ## :heart: Love {{ .global.companyName }}?

        If you find **[{{ .global.companyName }}]({{ .global.companyHomeUrl }})** projects useful, please consider donating so we sustain our projects:

        <a title="Support us on Open Collective" href="https://opencollective.com/{{ .global.openCollectiveUser }}" target="_blank">
          <img
            alt="Open Collective sponsors"
            src="https://img.shields.io/opencollective/sponsors/{{ .global.openCollectiveUser }}?logo=opencollective&label=OpenCollective&logoColor=white&style={{ .global.badgeStyle }}"
          />
        </a>
        <a title="Support us on GitHub" href="https://github.com/{{ .global.sponsorGitHubUser }}" target="_blank">
          <img
            alt="GitHub sponsors"
            src="https://img.shields.io/github/sponsors/{{ .global.sponsorGitHubUser }}?label=GitHub%20sponsors&logo=github&style={{ .global.badgeStyle }}"
          />
        </a>
        <a href="https://patreon.com/{{ .global.patreonUser }}" title="Support us on Patreon" target="_blank">
          <img alt="Patreon" src="https://img.shields.io/badge/Patreon-Support-052d49?logo=patreon&logoColor=white&style={{ .global.badgeStyle }}" />
        </a>
